<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Email Signature - {% CONTACT_NAME %}</title>

    <!--[if gt mso 15]>
      <style type="text/css" media="all">
        table, tr, td {border-collapse: collapse;}
        tr { font-size:0px; line-height:0px; border-collapse: collapse; }
      </style>
    <![endif]-->
  </head>
  <body style="margin:0; padding:0; background-color:#ffffff;">
    <table width="100%" border="0" cellpadding="8" cellspacing="8" bgcolor="#ffffff">
        <tr>
          <td align="left" valign="top">
            <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
              <tr>
                <td align="left" valign="top"></td>
                  <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                    <tr>
                      <td width="500" height="8" bgcolor="#fafafa" style="font-size: 8px; line-height: 8px;">
                        &nbsp; 
                      </td>
                      <td width="8" height="8" bgcolor="#ffffff" style="font-size: 8px; line-height: 8px;">
                        &nbsp; 
                      </td>
                    </tr>
                  </table>
                  <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="ffffff">
                    <tr>
                      <td width="8" height="115" bgcolor="#fafafa">
                        
                      </td>
                      <td width="92" height="115" bgcolor="#fafafa">
                        <img src="{% AWS %}/{% PROFILE_FILENAME %}" width="92" style="display: block;" border="0">
                      </td>
                      <td width="12" height="115" bgcolor="#fafafa">
                        
                      </td>
                      <td width="284" height="115" bgcolor="#fafafa">
                        <table width="284" cellpadding="0" cellspacing="0" border="0" bgcolor="fafafa">
                          <tr>
                            <td width="284" height="30">
                                <h1 style="margin: 0; margin-top: 8px; color: #000000; font-size: 18px; font-family: 'Trebuchet MS', arial, sans-serif;">{% CONTACT_NAME %}</h1>
                            </td>
                          </tr>
                        </table>
                        <table width="284" cellpadding="0" cellspacing="0" border="0" bgcolor="fafafa">
                          <tr>
                            {% CONTENT %}
                          </tr>
                        </table>
                      </td>
                      <td width="105" height="115" bgcolor="#fafafa">
                        <img src="{% AWS %}/{% ICON %}" width="105" style="display: block;" border="0">
                      </td>
                      <td width="8" height="115" bgcolor="#f0f0f0">
                      
                      </td>
                    </tr>
                  </table>
                  <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                      <tr>
                        <td width="500" height="2" bgcolor="#a7d9f0" style="line-height: 2px; font-size: 2px;">
                          &nbsp;	
                        </td>
                        <td width="8" height="2" bgcolor="#f0f0f0" style="line-height: 2px; font-size: 2px;">
                          &nbsp;	
                        </td>
                      </tr>
                    </table>
                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                        <tr>
                          <td width="500" height="11" bgcolor="#85c1dc" style="font-size: 11px; line-height: 11px;">
                            &nbsp; 
                          </td>
                          <td width="8" height="11" bgcolor="#f0f0f0" style="font-size: 11px; line-height: 11px;">
                            &nbsp;
                          </td>
                        </tr>
                    </table>
                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                        <tr>
                          <td width="16" height="36" bgcolor="#85c1dc">
    
                          </td>
                          <td width="118" height="36" bgcolor="#85c1dc">
                            <img src="{% AWS %}/{% FAIRWAY_BLUE %}" width="118" style="display: block;" border="0">
                          </td>
                          <td width="48" height="36" bgcolor="#85c1dc">
    
                          </td>
                          <td width="143" height="36" bgcolor="#85c1dc">
                            {% APPLICATION %}
                          </td>
                          <td width="16" height="36" bgcolor="#85c1dc">
    
                          </td>
                          <td width="143" height="36" bgcolor="#85c1dc">
                            {% FAIRWAY_NOW %}
                          </td>
                          <td width="16" height="36" bgcolor="#85c1dc">
    
                          </td>
                          <td width="8" height="36" bgcolor="#f0f0f0">
                            
                          </td>
                        </tr>
                    </table>
                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                        <tr>
                          <td width="500" height="11" bgcolor="#85c1dc" style="font-size: 11px; line-height: 11px;">
                            &nbsp; 
                          </td>
                          <td width="8" height="11" bgcolor="#f0f0f0" style="font-size: 11px; line-height: 11px;">
                            &nbsp;
                          </td>
                        </tr>
                    </table>
                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                        <tr>
                          <td width="8" height="8" bgcolor="#ffffff" style="font-size: 8px; line-height: 8px;">
                            &nbsp; 
                          </td>
                          <td width="500" height="8" bgcolor="#f0f0f0" style="font-size: 8px; line-height: 8px;">
                            &nbsp;
                          </td>
                        </tr>
                    </table>
                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                        <tr>
                          <td width="508" height="8" style="font-size: 8px; line-height: 8px;" bgcolor="#ffffff">
                            &nbsp;
                          </td>
                        </tr>
                    </table>
                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                        <tr>
                          <td width="8" bgcolor="#ffffff">
                            
                          </td>
                          <td width="500" bgcolor="#ffffff">
                              <p style="line-height: 10px; color: #bbbbbb; font-size: 8px; font-family: 'Trebuchet MS', arial, sans-serif;">
                                  Confidentiality Notice: The information contained in and transmitted with this communication is strictly confidential, is intended only for the use of the intended recipient, and is the property of Fairway Independent Mortgage Corporation NMLS #2289 or its affiliates and subsidiaries. If you are not the intended recipient, you are hereby notified that any use of the information contained in or transmitted with the communication or dissemination, distribution, or copying of this communication is strictly prohibited by law. If you have received this communication in error, please immediately return this communication to the sender and delete the original message and any copy of it in your possession.
                              </p>
                          </td>
                          <td width="8" bgcolor="#ffffff">
                              
                          </td>
                        </tr>
                    </table>
                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                        <tr>
                          <td width="508" height="8" style="font-size: 8px; line-height: 8px;" bgcolor="#ffffff">
                            &nbsp;
                          </td>
                        </tr>
                    </table>
                    {% SOCIAL %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>
    &nbsp;&nbsp;&nbsp;<br>
  </body>
</html>
