                        <td width="143" height="36" bgcolor="#85c1dc">
                            <a href="{{ APPLICATION_LINK }}"><img src="{{ AWS }}/{{ APPLICATION_IMAGE }}" width="143" style="display: block;" border="0"></a>
                          </td>
                          <td width="16" height="36" bgcolor="#85c1dc">
    
                          </td>
                          <td width="143" height="36" bgcolor="#85c1dc">
                            <a href="{{ FAIRWAYNOW_LINK }}"><img src="{{ AWS }}/{{ FAIRWAYNOW_IMAGE }}" width="143" style="display: block;" border="0"></a>
                          </td>