                            <td width="133" height="44" bgcolor="#fafafa">
                                <p style="margin: 0; margin-bottom: 0px; line-height: 14px; color: #444444; font-size: 11px; font-family: 'Trebuchet MS', arial, sans-serif;">
                                  {{ CONTENT_01 }}
                                  <br>
                                  {{ CONTENT_02 }}
                              </td>
                              <td width="151" height="44" bgcolor="#fafafa">
                                  <p style="margin: 0; margin-bottom: 0px; line-height: 14px; color: #444444; font-size: 11px; font-family: 'Trebuchet MS', arial, sans-serif;">
                                    {{ CONTENT_03 }}
                                    <br>
                                    {{ CONTENT_04 }}
                                  </p>
                              </td>