                            <td width="133" height="66" bgcolor="#fafafa">
                                <p style="margin: 0; margin-bottom: 8px; line-height: 14px; color: #444444; font-size: 11px; font-family: 'Trebuchet MS', arial, sans-serif;">
                                  {% CONTENT_01 %}
                                  <br>
                                  {% CONTENT_02 %}
                                </p>
                                  <p style="margin: 0; line-height: 14px; color: #444444; font-size: 11px; font-family: 'Trebuchet MS', arial, sans-serif;">
                                    {% CONTENT_03 %}
                                  </p>
                              </td>
                              <td width="151" height="66" bgcolor="#fafafa">
                                  <p style="margin: 0; margin-bottom: 8px; line-height: 14px; color: #444444; font-size: 11px; font-family: 'Trebuchet MS', arial, sans-serif;">
                                    {% CONTENT_04 %}
                                    <br>
                                    {% CONTENT_05 %}
                                  </p>
                                  <p style="margin: 0; line-height: 14px; color: #444444; font-size: 11px; font-family: 'Trebuchet MS', arial, sans-serif;">
                                    {% CONTENT_06 %}
                                  </p>
                              </td>