                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                      <tr>
                        <td width="158" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                        <td width="32" bgcolor="#ffffff">
                          <a href="http://facebook.com">
                            <img src="{% AWS %}/social-facebook-black.png" width="32" style="display: block;" border="0">
                          </a>
                        </td>
                        <td width="8" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                        <td width="32" bgcolor="#ffffff">
                          <a href="http://linkedin.com">
                            <img src="{% AWS %}/social-linkedin-black.png" width="32" style="display: block;" border="0">
                          </a>
                        </td>
                        <td width="8" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                        <td width="32" bgcolor="#ffffff">
                          <a href="http://yelp.com">
                            <img src="{% AWS %}/social-yelp-black.png" width="32" style="display: block;" border="0">
                          </a>
                        </td>
                        <td width="8" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                        <td width="32" bgcolor="#ffffff">
                          <a href="http://instagram.com">
                            <img src="{% AWS %}/social-instagram-black.png" width="32" style="display: block;" border="0">
                          </a>
                        </td>
                        <td width="8" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                        <td width="32" bgcolor="#ffffff">
                          <a href="http://twitter.com">
                            <img src="{% AWS %}/social-twitter-black.png" width="32" style="display: block;" border="0">
                          </a>
                        </td>
                        <td width="158" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                      </tr>
                    </table>