                    <table width="508" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                      <tr>
                        <td width="198" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                        <td width="32" bgcolor="#ffffff">
                          <a href="{{ SOCIAL_LINK_1 }}">
                            <img src="{{ AWS }}/{{ SOCIAL_IMAGE_1 }}" width="32" style="display: block;" border="0">
                          </a>
                        </td>
                        <td width="8" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                        <td width="32" bgcolor="#ffffff">
                          <a href="{{ SOCIAL_LINK_2 }}">
                            <img src="{{ AWS }}/{{ SOCIAL_IMAGE_2 }}" width="32" style="display: block;" border="0">
                          </a>
                        </td>
                        <td width="8" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                        <td width="32" bgcolor="#ffffff">
                          <a href="{{ SOCIAL_LINK_3 }}">
                            <img src="{{ AWS }}/{{ SOCIAL_IMAGE_3 }}" width="32" style="display: block;" border="0">
                          </a>
                        </td>
                        <td width="198" bgcolor="#ffffff">
                          &nbsp;
                        </td>
                      </tr>
                    </table>